section {
  margin: 0px;
}

.banner {
  text-align: center;
  margin: 0px;

  &__calc {
    width: 100%;
    position: relative;
    z-index: 1;
    max-height: 225px;

    @media all and (max-width: 640px) {
      max-height: 111px;
    }

    &__img {
      border-radius: 25px;
      height: 223px;
      width: 100%;
      object-fit: cover;
      filter: brightness(70%);

      @media all and (max-width: 640px) {
        max-width: 335px;
        max-height: 111px;
      }
    }

    &__txt__home {
      position: relative;
      bottom: 140px;
      z-index: 2;
      font-size: 48px;
      color: white;
      margin: 0px;

      @media all and (min-width: 769px) and (max-width: 1024px) {
        font-size: 36px;
      }

      @media all and (min-width: 641px) and (max-width: 768px) {
        font-size: 30px;
      }

      @media all and (max-width: 640px) {
        max-width: 230px;
        position: relative;
        bottom: 80px;
        left: 20%;
        z-index: 2;
        font-size: 24px;
      }
    }
  }
}
