section {
  margin: 0px;
}

.banner {
  text-align: center;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__calc {
    width: 100%;
    position: relative;
    z-index: 1;
    max-height: 225px;

    @media all and (max-width: 640px) {
      max-height: 111px;
      max-width: 335px;
    }

    &__img {
      border-radius: 25px;
      height: 223px;
      width: 100%;
      object-fit: cover;
      filter: brightness(70%);

      @media all and (max-width: 640px) {
        max-width: 335px;
        max-height: 111px;
        border-radius: 10px;
      }
    }

    &__txt__home {
      position: absolute;
      bottom: 35%;
      left: 20%;
      z-index: 2;
      font-size: 48px;
      color: white;
      margin: 0px;

      @media all and (min-width: 1025px) and (max-width: 1120px) {
        left: 12%;
      }

      @media all and (min-width: 769px) and (max-width: 1024px) {
        font-size: 36px;
        left: 10%;
      }

      @media all and (min-width: 641px) and (max-width: 768px) {
        font-size: 30px;
        left: 10%;
      }

      @media all and (max-width: 640px) {
        text-align: left;
        max-width: 230px;
        left: 5%;
        bottom: 20%;
        z-index: 2;
        font-size: 24px;
      }
    }
  }
}
