$main-color: #ff6060;

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    height: 52px;
    width: 100%;

    &__button {
      background-color: $main-color;
      border: none;
      color: white;
      padding-right: 15px;
      cursor: pointer;
    }
  }

  &__txt {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
    background-color: #f6f6f6;
    color: $main-color;
    border-radius: 0px 0px 10px 10px;

    &__description {
      font-size: 18px;
      padding: 18px;
    }

    &__open {
      max-height: 1000px;

      @media all and (min-width: 769px) and (max-width: 1024px) {
        font-size: 16px;
      }

      @media all and (min-width: 641px) and (max-width: 768px) {
        font-size: 16px;
      }

      @media all and (max-width: 640px) {
        font-size: 15px;
      }
    }
  }
}
