$main-color: #ff6060;

.gallery {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  cursor: pointer;

  &__container {
    width: fit-content;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    @media all and (min-width: 1025px) and (max-width: 1152px) {
      padding: 30px;
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
    }

    @media all and (min-width: 769px) and (max-width: 1024px) {
      padding: 30px;
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
    }

    @media all and (min-width: 641px) and (max-width: 768px) {
      width: 100%;
      background-color: #ffffff;
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-items: flex-start;
      align-items: center;
    }

    @media all and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-items: flex-start;
      align-items: center;
      background-color: #ffffff;
      padding: 0px;
    }
  }

  &__button {
    .seeMore,
    .seeLess {
      border: none;
      color: $main-color;
      background-color: white;
      border-radius: 5px;
      font-size: 24px;
    }
  }
}
