.informations {
  margin: 25px 100px;
  &__container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__general {
      display: flex;
      flex-direction: column;
      gap: 30px;
      &__taglist {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
      }
    }
  }

  &__container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 76px;
    margin-top: 50px;
    width: 1240px;
  }
}

.item {
  &__block {
    width: 582px;
  }

  &__txt {
    width: 582px;
  }
}
