.informations {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  @media all and (max-width: 640px) {
    padding-top: 10px;
    gap: 10px;
  }
  &__container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media all and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      gap: 20px;
    }

    &__general {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media all and (max-width: 640px) {
        gap: 10px;
      }

      &__taglist {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        @media all and (max-width: 640px) {
          gap: 10px;
        }
      }
    }

    &__utiles {
      display: flex;
      flex-direction: column;

      @media all and (max-width: 640px) {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-bottom: 10px;
      }
    }
  }

  &__container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 76px;
    font-size: 18px;

    @media all and (max-width: 640px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &__descriptions {
      width: 100%;

      .item__block {
        border-radius: 10px;
        &__title {
          padding: 10px 20px 10px 10px;
          @media all and (max-width: 640px) {
            font-size: 13px;
          }
        }
      }
    }

    &__equipments {
      width: 100%;
      min-height: 100%;

      .item__block {
        border-radius: 10px;
        &__title {
          padding: 10px 20px 10px 10px;
          @media all and (max-width: 640px) {
            font-size: 13px;
          }
        }
      }

      .item__txt {
        min-width: 100%;

        ul {
          margin: 0px;
          padding: 0px;
          list-style-type: none;
        }

        h3 {
          font-weight: normal;
        }
      }
    }
  }
}
