$main-color: #ff6060;

.tagbox {
  background-color: $main-color;
  border-radius: 10px;
  min-width: 115px;
  height: 25px;
  padding: 2.5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__name {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0px;
  }
}
