$main-color: #ff6060;

.tagbox {
  background-color: $main-color;
  border-radius: 10px;
  min-width: 115px;
  height: 25px;
  padding: 2.5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 640px) {
    padding: 2.5px 5px;
  }

  &__name {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    @media all and (max-width: 640px) {
      font-size: 10px;
    }
  }
}
