$main-color: #ff6060;

.title {
  color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  &__name {
    font-size: 36px;
    padding: 0px;
    margin: 0px;

    @media all and (min-width: 1025px) and (max-width: 1120px) {
      font-size: 32px;
    }

    @media all and (min-width: 769px) and (max-width: 1024px) {
      font-size: 30px;
    }

    @media all and (min-width: 641px) and (max-width: 768px) {
      font-size: 24px;
    }

    @media all and (max-width: 640px) {
      font-size: 18px;
    }
  }

  &__location {
    font-size: 18px;
    padding: 0px;
    margin: 0px;

    @media all and (min-width: 769px) and (max-width: 1024px) {
      font-size: 16px;
    }

    @media all and (max-width: 640px) {
      font-size: 14px;
    }
  }
}

h2,
h3 {
  @media all and (max-width: 640px) {
    font-weight: normal;
  }
}
