$main-color: #ff6060;

.title {
  color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  &__name {
    font-size: 36px;
    padding: 0px;
    margin: 0px;
    @media all and (max-width: 640px) {
      font-size: 18px;
    }
  }

  &__location {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    @media all and (max-width: 640px) {
      font-size: 14px;
    }
  }
}
